<app-side-nav [pageHeaders]="pageHeaders" class="hidden-xs"></app-side-nav> <app-side-nav [pageHeaders]="pageHeaders" class="visible-xs" *ngIf="sidebarOpen"></app-side-nav>
<div class="page-wrap">
    <app-top-nav [pageHeaders]="pageHeaders" (open)="sidebarStateChange()"></app-top-nav>

    <app-top-header [pageHeaders]="pageHeaders"></app-top-header>
    <app-processing [process]="process"></app-processing>

    <div class="dash-wrap row">

        <div class="set">
            <div class="box-head">
                <h4>Coupon List</h4>
            </div>
            <div class="list row">
                <div class="">
                    <a routerLink="/coupon/create" class="btn btn-primary">Add New</a>
                </div><br><br>

                <div class="table-responsive"><table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"> 
                    <thead> 
                        <tr> 
                            <th>#</th> 
                            <th>Coupon Code</th>
                            <th>Discount in %</th>
                            <th>Discount in Amount</th>
                            <th>status</th>
                            <th>Create date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr> 
                    </thead> 
                    <tbody> 
                        <tr class="msg-record" *ngFor="let cou of coupon; let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ cou.couponCode }}</td>
                            <td>{{ cou.couponPercentage }}</td>
                            <td>{{ cou.couponAmount }}</td>
                            <td>{{ cou.status }}</td>
                            <td>{{ cou.created_at | date:'short' }}</td>
                            <td><a routerLink='/coupon/edit/{{ cou.id }}' class=""><i class="fa fa-edit"></i></a></td>
                            <td><span (click)="onDelete(cou)" class=""><i class="fa fa-trash"></i></span></td>
                        </tr>
                    </tbody> 
                </table></div>
            </div>
        </div>
    </div>


  <app-footer></app-footer>
</div>
