<app-side-nav [pageHeaders]="pageHeaders" class="hidden-xs"></app-side-nav>
<app-side-nav [pageHeaders]="pageHeaders" class="visible-xs" *ngIf="sidebarOpen"></app-side-nav>
<div class="page-wrap">
  <app-top-nav [pageHeaders]="pageHeaders" (open)="sidebarStateChange()"></app-top-nav>

    <app-top-header [pageHeaders]="pageHeaders"></app-top-header>
    <app-processing [process]="process"></app-processing>

    <div class="dash-wrap row">

      <div class="set">
          <div class="box-head">
              <h4>Support Question/Answer</h4>
          </div>

          <div class="inbox row">

            <dl class="dl-horizontal" *ngFor="let he of support">

              <dt>Support Question :</dt>
                <dd>{{ he.question | titlecase }}</dd>
              <dt>Question Status :</dt>
                <dd>{{ he.status }}</dd>
              <dt>Question Views :</dt>
                <dd>{{ he.view }}</dd>
              <dt></dt><dd><hr></dd>
              <dt>Answer : </dt>
                <dd class="" innerHTML="{{ he.answer }}"></dd>
            </dl>
          </div>
      </div>

    </div>

  <app-footer></app-footer>
</div>