<app-side-nav [pageHeaders]="pageHeaders" class="hidden-xs"></app-side-nav> <app-side-nav [pageHeaders]="pageHeaders" class="visible-xs" *ngIf="sidebarOpen"></app-side-nav>
<div class="page-wrap">
  <app-top-nav [pageHeaders]="pageHeaders" (open)="sidebarStateChange()"></app-top-nav>

    <app-top-header [pageHeaders]="pageHeaders"></app-top-header>
    <app-processing [process]="process"></app-processing>

    <div class="dash-wrap row">

        <div class="set">
            <div class="box-head">
                <h4>Support Questions List</h4>
            </div>
            <div class="list row">
                <div class="">
                    <a routerLink="/support/create" class="btn btn-primary">Add New</a>
                </div><br><br>

                <div class="table-responsive"><table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"> 
                    <thead> 
                        <tr> 
                            <th>#</th> 
                            <th>Question</th>
                            <th>Status</th>
                            <th>Views</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr> 
                    </thead> 
                    <tbody> 
                        <tr class="msg-record" *ngFor="let flt of support; let i=index">
                            <td>{{ i+1 }}</td>
                            <td><a routerLink='/support/view/{{ flt.id }}'>{{ flt.question | titlecase }}</a></td>
                            <td>{{ flt.status }}</td>
                            <td>{{ flt.view }}</td>
                            <td><a routerLink='/support/edit/{{ flt.id }}' class=""><i class="fa fa-edit"></i></a></td>
                            <td><span (click)="onDelete(flt)" class=""><i class="fa fa-trash"></i></span></td>
                        </tr>
                    </tbody> 
                </table></div>
            </div>
        </div>
    </div>


  <app-footer></app-footer>
</div>
