<app-side-nav [pageHeaders]="pageHeaders" class="hidden-xs"></app-side-nav> <app-side-nav [pageHeaders]="pageHeaders" class="visible-xs" *ngIf="sidebarOpen"></app-side-nav>
<div class="page-wrap">
  <app-top-nav [pageHeaders]="pageHeaders" (open)="sidebarStateChange()"></app-top-nav>

    <app-top-header [pageHeaders]="pageHeaders"></app-top-header>
    <app-processing [process]="process"></app-processing>

    <div class="dash-wrap row">

        <div class="set">
            <div class="box-head">
                <h4>Affiliates List</h4>
            </div>
            <div class="list row">
                <div class="table-responsive"><table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"> 
                    <thead> 
                        <tr> 
                            <th>#</th> 
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact No.</th>
                            <th>Category</th>
                            <th>Delete</th>
                        </tr> 
                    </thead> 
                    <tbody> 
                        <tr class="msg-record" *ngFor="let afi of affiliate; let i=index">
                            <td>{{ i+1 }}</td>
                            <td><a routerLink='/affiliate/view/{{ afi.id }}'>{{ afi.name | titlecase }} {{ afi.lastname | titlecase }}</a></td>
                            <td>{{ afi.email }}</td>
                            <td>{{ afi.contact_no }}</td>
                            <td>{{ afi.category }}</td>
                            <td><span (click)="onDelete(afi)" class=""><i class="fa fa-trash"></i></span></td>
                        </tr>
                    </tbody> 
                </table></div>
            </div>
        </div>
    </div>

  <app-footer></app-footer>
</div>
