<app-side-nav [pageHeaders]="pageHeaders" class="hidden-xs"></app-side-nav> <app-side-nav [pageHeaders]="pageHeaders" class="visible-xs" *ngIf="sidebarOpen"></app-side-nav>
<div class="page-wrap">
  <app-top-nav [pageHeaders]="pageHeaders" (open)="sidebarStateChange()"></app-top-nav>

    <app-top-header [pageHeaders]="pageHeaders"></app-top-header>

    <div class="dash-wrap row">

      <div class="set row">
        <div class="box-head">
          <h4>Order Components</h4>
        </div>

        <div class="" >
          <app-order-tabs [linkId]="linkId"></app-order-tabs>
          <hr>

            <div class="p20">Order Components:</div>
            <div *ngFor="let ord of orderdata">
              <div class="p20">{{ ord.typeName }} - {{ ord.type }} | {{ ord.typeId }} | {{ ord.subType }}</div>
            </div>
  
        </div>

      </div>
    </div>
  <app-footer></app-footer>
</div>