<div class="set">
    <div class="box-head">
        <h4>Add iFrame for Geo location</h4>
    </div>
    <form class="edit row" (ngSubmit)="onUpdate(IframeForm.value)" #IframeForm="ngForm" *ngFor="let ifr of iframe">
        
        <div class="form-group row hidden">
          <label for="id" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">*Id: </label>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
              <input type="hidden" class="form-control" id="1" name="id" #id="ngModel" [(ngModel)]="ifr.id" required>
          </div>
        </div>

        <div class="form-group row" [ngClass]="{'has-error': iframeLink.touched && !iframeLink.valid}">
          <label for="iframeLink" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">*SRC of iFrame: </label>
          <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
              <textarea 
                    type="text" class="form-control" id="iframeLink" rows="6" placeholder="only 'SRC' value of MAP iframe content"
                    [(ngModel)]="ifr.iframeLink" name="iframeLink" #iframeLink="ngModel" 
                    maxlength="400" required></textarea>

                <div class="pull-right " *ngIf="iframeLink.touched && !iframeLink.valid">
                    <p *ngIf="iframeLink.errors.required" class="text-danger">Address field is required</p>
                </div>
          </div>
        </div>

        <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2">&nbsp;</label>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><hr>
          <input 
                type="submit" name="submit" class="btn btn-default" value="Save/Update" 
                contenteditable="false" [disabled]="!IframeForm.valid">
        </div>
    </form>
</div>