<app-side-nav [pageHeaders]="pageHeaders" class="hidden-xs"></app-side-nav> <app-side-nav [pageHeaders]="pageHeaders" class="visible-xs" *ngIf="sidebarOpen"></app-side-nav>
<div class="page-wrap">
  <app-top-nav [pageHeaders]="pageHeaders" (open)="sidebarStateChange()"></app-top-nav>

    <app-top-header [pageHeaders]="pageHeaders"></app-top-header>

    <div class="dash-wrap row">

      <div class="set">
          <div class="box-head">
              <h4>Visitor List</h4>
          </div>
          <div class="list row">
              <div class="table-responsive"><table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"> 
                  <thead> 
                      <tr> 
                          <th>#</th> 
                          <th>Name</th> 
                          <th>Email</th> 
                          <th>Create date</th>
                          <th>Delete</th>
                      </tr> 
                  </thead> 
                  <tbody>
                    <tr class="msg-record" *ngFor="let vis of visitor; let i=index">
                        <td>{{ i+1 }}</td>
                        <td><a routerLink='/visitor/view/{{ vis.id }}'>{{ vis.name | titlecase }} {{ vis.lastname }}</a></td>
                        <td>{{ vis.email }}</td>
                        <td>{{ vis.created_at | date:'short' }}</td>
                        <td><span (click)="onDelete(vis)" class="btn-trash"><i class="fa fa-trash"></i></span></td>
                    </tr>
                  </tbody> 
              </table></div>
          </div>
      </div>

    </div>

  <app-footer></app-footer>
</div>
