<app-side-nav [pageHeaders]="pageHeaders" class="hidden-xs"></app-side-nav> <app-side-nav [pageHeaders]="pageHeaders" class="visible-xs" *ngIf="sidebarOpen"></app-side-nav>
<div class="page-wrap">
  <app-top-nav [pageHeaders]="pageHeaders" (open)="sidebarStateChange()"></app-top-nav>

    <app-top-header [pageHeaders]="pageHeaders"></app-top-header>

    <div class="dash-wrap row">

      <div class="set row">
        <div class="box-head">
          <h4>Cisitor Details</h4>
        </div>

        <div class="show row" *ngFor="let vis of visitor">
          
          <div class="show-top row">
            <a routerLink="/visitor" class="btn btn-primary">View All</a>         
          </div>

          <div class="show-left col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div><h5>Visitor Description</h5></div>
            <dl class="dl-horizontal">
              <dt>Visitor Name:</dt><dd>{{ vis.name }}</dd>
              <dt>Lastname :</dt><dd>{{ vis.lastname }}</dd>
              <dt>Email :</dt><dd>{{ vis.email }}</dd>
              <dt>Contact No :</dt><dd>{{ vis.contact_no }}</dd>
              <dt>Created Date :</dt><dd>{{ vis.created_at }}</dd>
            </dl>
          </div>

          <div class="show-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
          </div>

        </div>

      </div>
    </div>
  <app-footer></app-footer>
</div>
    
