<app-side-nav [pageHeaders]="pageHeaders" class="hidden-xs"></app-side-nav> <app-side-nav [pageHeaders]="pageHeaders" class="visible-xs" *ngIf="sidebarOpen"></app-side-nav>
<div class="page-wrap">
  <app-top-nav [pageHeaders]="pageHeaders" (open)="sidebarStateChange()"></app-top-nav>

    <app-top-header [pageHeaders]="pageHeaders"></app-top-header>

    <div class="dash-wrap row">

      <div class="set row">
        <div class="box-head">
          <h4>Author Details</h4>
        </div>

        <div class="show row" *ngFor="let aut of author">
          
          <div class="show-top row">
            <a routerLink="/author" class="btn btn-primary">View All</a>
            <a routerLink="/author/create" class="btn btn-primary">Add New</a>
            <a routerLink="/author/edit/{{ aut.id }}" class="btn btn-primary">Edit</a>           
          </div>

          <div class="show-left col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div><h5>Author Description</h5></div>
            <dl class="dl-horizontal">
              <dt>Author :</dt><dd>{{ aut.authorName }}</dd>
              <dt>Details:</dt><dd>{{ aut.authorDetails }}</dd>
              <dt>Profession :</dt><dd>{{ aut.authorProfession }}</dd>
              <dt>Age :</dt><dd>{{ aut.authorAge }}</dd>
              <dt>Education :</dt><dd>{{ aut.authorEducation }}</dd>
              <dt>Description :</dt><dd>{{ aut.authorDescription }}</dd>
              <dt>Created Date :</dt><dd>{{ aut.created_at }}</dd>
            </dl>
          </div>

          <div class="show-right col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <img class="img-thumbnail" src="{{ aut.authorImgName }}">
            </div>
            <div class="social-links">
              <dl class="dl-horizontal">
                <dt>Social Links :</dt><dd>{{ aut.authorSocialLinks }}</dd>
              </dl>
            </div>
          </div>

        </div>

      </div>
    </div>
  <app-footer></app-footer>
</div>
    
