<app-side-nav [pageHeaders]="pageHeaders" class="hidden-xs"></app-side-nav> <app-side-nav [pageHeaders]="pageHeaders" class="visible-xs" *ngIf="sidebarOpen"></app-side-nav>
<div class="page-wrap">
  <app-top-nav [pageHeaders]="pageHeaders" (open)="sidebarStateChange()"></app-top-nav>

    <app-top-header [pageHeaders]="pageHeaders"></app-top-header>

    <div class="dash-wrap row">

      <div class="create row" >
        <div class="set">
          <div class="box-head">
            <h4>Product Option Type Edit</h4>
          </div>
          <form class="edit row" (ngSubmit)="onUpdate(optionForm.value)" #optionForm="ngForm" *ngFor="let opt of productoptiontype">

            <div class="form-group row hidden">
              <label for="id" class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></label>
              <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
                  <input type="hidden" class="form-control" id="id" name="id" #id="ngModel" [(ngModel)]="opt.id" maxlength="50" required>
              </div>
            </div>

            <div class="form-group row">
                <label for="optionId" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">*Option: </label>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <select class="form-control" id="optionId" name="optionId" #optionId="ngModel" [(ngModel)]="opt.optionId" required>
                      <option value="{{ opt.id }}" *ngFor="let opt of productoption">{{ opt.optionName }}</option>
                    </select>
                </div>
            </div>
        
            <div class="form-group row">
                <label for="optionTypeName" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">*Option Type: </label>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                    <input 
                        type="text" class="form-control" id="optionTypeName" placeholder="Option Type Name"
                        name="optionTypeName" #optionTypeName="ngModel" [(ngModel)]="opt.optionTypeName" 
                        maxlength="40" required>
                </div>
            </div>
        
            <label class="col-xs-12 col-sm-2 col-md-2 col-lg-2">&nbsp;</label>
            <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10"><hr>
                <input type="submit" name="submit" class="btn btn-default" value="Update" contenteditable="false" [disabled]="!optionForm.valid">
                <a routerLink="/product/optiontype" class="btn btn-primary">Back to List</a>
            </div>

          </form>
        </div>
      </div>
  
    </div>
  <app-footer></app-footer>
</div>
