<app-side-nav [pageHeaders]="pageHeaders" class="hidden-xs"></app-side-nav> <app-side-nav [pageHeaders]="pageHeaders" class="visible-xs" *ngIf="sidebarOpen"></app-side-nav>
<div class="page-wrap">
  <app-top-nav [pageHeaders]="pageHeaders" (open)="sidebarStateChange()"></app-top-nav>

    <app-top-header [pageHeaders]="pageHeaders"></app-top-header>
  
    <div class="dash-wrap row">

        <div class="set">
            <div class="box-head">
                <h4>Options Type List</h4>
            </div>
            <div class="list row">
                <div class="">
                    <a routerLink="/product/optiontype/create" class="btn btn-primary">Add New</a>
                </div><br><br>

                <div class="table-responsive"><table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"> 
                    <thead> 
                        <tr> 
                            <th>#</th> 
                            <th>Option Type</th>
                            <th>Option</th>
                            <th>Create date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr> 
                    </thead> 
                    <tbody> 
                        <tr class="msg-record" *ngFor="let opt of productoptiontype; let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ opt.optionTypeName | uppercase }}</td>
                            <td>{{ opt.optionName }}</td>
                            <td>{{ opt.created_at | date:'short' }}</td>
                            <td><a routerLink='edit/{{ opt.id }}' class=""><i class="fa fa-edit"></i></a></td>
                            <td><span (click)="onDelete(opt)" class=""><i class="fa fa-trash"></i></span></td>
                        </tr>
                    </tbody> 
                </table></div>
            </div>
        </div>

    </div>
    
  <app-footer></app-footer>
</div>