<div class="create row">
    <div class="set">
      <div class="box-head">
        <h4>Recent Activities</h4>
      </div>
  
      <div class="rec-activities row">


        <div class="item">
          <div class="profile">
            <img src="../../assets/images/teammemb5.jpg" class="profile-img" alt="profile">
          </div>
          <div class="activity">
            <p class="summary">
              <a routerLink="/visitor/view/1">Rohit Ambre </a> 
              Commented on 
              <a routerLink="/post/view/1">Post </a> 
            </p>
            <p class="content">
              <a routerLink="/post/view/1">Mauris congue congue malesuada. Nulla dignissim faucibus augue at hendrerit.</a>
            </p>
          </div>
        </div>

        <div class="item">
            <div class="profile">
              <img src="../../assets/images/teammemb5.jpg" class="profile-img" alt="profile">
            </div>
            <div class="activity">
              <p class="summary">
                <a routerLink="/visitor/view/1">Rohit Ambre </a> 
                Commented on 
                <a routerLink="/post/view/1">Post </a> 
              </p>
              <p class="content">
                <a routerLink="/post/view/1">Mauris congue congue malesuada. Nulla dignissim faucibus augue at hendrerit.</a>
              </p>
            </div>
          </div>

          <div class="item">
              <div class="profile">
                <img src="../../assets/images/teammemb5.jpg" class="profile-img" alt="profile">
              </div>
              <div class="activity">
                <p class="summary">
                  <a routerLink="/visitor/view/1">Rohit Ambre </a> 
                  Commented on 
                  <a routerLink="/post/view/1">Post </a> 
                </p>
                <p class="content">
                  <a routerLink="/post/view/1">Mauris congue congue malesuada. Nulla dignissim faucibus augue at hendrerit.</a>
                </p>
              </div>
            </div>

            <div class="item">
                <div class="profile">
                  <img src="../../assets/images/teammemb5.jpg" class="profile-img" alt="profile">
                </div>
                <div class="activity">
                  <p class="summary">
                    <a routerLink="/visitor/view/1">Rohit Ambre </a> 
                    Commented on 
                    <a routerLink="/post/view/1">Post </a> 
                  </p>
                  <p class="content">
                    <a routerLink="/post/view/1">Mauris congue congue malesuada. Nulla dignissim faucibus augue at hendrerit.</a>
                  </p>
                </div>
              </div>



      </div>
  
    </div>
  </div>
  